:root {
  --palette-light-green: rgb(217, 237, 191);
  --palette-light-peach: rgb(255, 185, 150);
  --pallete-light-orange: rgb(255, 207, 129);
  --palette-light-yellow: rgb(253, 255, 171);
}

html,
body,
div,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

button {
  background-color: powderblue;
  color: #fff;
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1.5rem;
}

.main-container {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
  height: 100vh;
}

.submain-container-1 {
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr;
}

.submain-container-2 {
  background-color: bisque;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.top-container {
  background-color: aquamarine;
  display: grid;
  grid-template-rows: 1fr 1.6fr;
}

.below-container {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.center-container {
  background-color: burlywood;
  padding-left: 1rem;
  padding-right: 1rem;
}

.center-cards-container {
  background-color: dimgray;
  height: 90%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.card {
  background-color: darkcyan;
}

.right-container {
  background-color: rgb(140, 219, 219);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.right-container-top {
  background-color: rgb(47, 107, 160);
  padding-left: 1rem;
  padding-right: 1rem;
}

.right-container-bottom {
  background-color: aquamarine;
  padding-left: 1rem;
  padding-right: 1rem;
}

.anouncements-container {
  background-color: aqua;
  height: 85%;
}

.trending-container {
  background-color: bisque;
  height: 85%;
}

.menu-container {
  display: grid;
  grid-template-rows: 1fr 4fr 3fr;
  gap: 2rem;
  height: 75%;
  background-color: blueviolet;
}

.menu-title-container {
  background-color: blue;
  display: inline-flex;
  justify-items: start;
  align-items: center;
}

.menu-options-container {
  background-color: blanchedalmond;
  display: grid;
  grid-template-rows: repeat(1fr, 5);
  gap: 0;
}

.menu-settings-container {
  background-color: rgb(160, 139, 111);
  display: grid;
  grid-template-rows: repeat(1fr, 5);
  gap: 0;
}

.search-container {
  background-color: chartreuse;
  display: inline-flex;
}

.left-search-container {
  background-color: aquamarine;
  flex: 2 1 0;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-left: 1.5rem;
}

.right-search-container {
  background-color: peachpuff;
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  padding-right: 3rem;
  gap: 1rem;
}

.buttons-container {
  background-color: chocolate;
  display: inline-flex;
}

.left-buttons-container {
  background-color: rgb(142, 163, 156);
  flex: 1 1 0;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-left: 3rem;
}

.right-buttons-container {
  background-color: rgb(228, 165, 109);
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  padding-right: 3rem;
  gap: 2rem;
}

.dashboard-icon {
  height: 3.5rem;
  width: 3.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.menu-options {
  display: inline-flex;
  height: 3rem;
  justify-items: start;
  align-items: center;
  padding-left: 0.5rem;
}

.search-field {
  width: 60%;
}

.search-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.profile-image {
  height: 2.5rem;
  width: 2.5rem;
}

.main-profile-image {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}
