:root {
  --palette-light-green: rgb(217, 237, 191);
  --palette-light-peach: rgb(255, 185, 150);
  --pallete-light-orange: rgb(87, 145, 204);
  --palette-light-yellow: rgb(253, 255, 171);
}

html,
body,
div,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

button {
  color: #fff;
  background-color: var(--pallete-light-orange);
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1.5rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
  height: 100vh;
}

.submain-container-1 {
  display: grid;
  grid-template-rows: 1fr;
  background-color: var(--pallete-light-orange);
}

.submain-container-2 {
  display: grid;
  grid-template-rows: 1fr 5.5fr;
}

.top-container {
  display: grid;
  grid-template-rows: 1fr 1.6fr;
}

.below-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  background-color: rgba(169, 169, 169, 0.266);
}

.center-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.center-cards-container {
  height: 88%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 20fr;
}

.right-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.right-container-top {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.right-container-bottom {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.anouncements-container {
  height: 85%;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem;
  text-align: justify;
  background-color: whitesmoke;
}

.anouncements-container-content1 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.anouncements-container-content2 {
  border-top: 1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-style: solid;
  border-color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.trending-container {
  height: 75%;
  border-radius: 10px;
  display: grid;
  padding: 0.5rem;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: whitesmoke;
}

.trending-container-content {
  display: inline-flex;
  height: 5rem;
  justify-items: start;
  align-items: center;
  padding-left: 0.5rem;
}

.menu-container {
  display: grid;
  grid-template-rows: 1fr 4fr 3fr;
  gap: 2rem;
  height: 70%;
  background-color: var(--pallete-light-orange);
}

.menu-title-container {
  background-color: var(--palette-light-orange);
  display: inline-flex;
  justify-items: start;
  align-items: center;
}

.menu-options-container {
  background-color: var(--pallete-light-orange);
  display: grid;
  gap: 0;
}

.menu-settings-container {
  background-color: var(--pallete-light-orange);
  display: grid;
  gap: 0;
}

.search-container {
  display: inline-flex;
}

.left-search-container {
  flex: 2 1 0;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-left: 1.5rem;
}

.right-search-container {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  padding-right: 3rem;
  gap: 1rem;
}

.buttons-container {
  display: inline-flex;
}

.left-buttons-container {
  flex: 1 1 0;
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-left: 3rem;
}

.right-buttons-container {
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  padding-right: 3rem;
  gap: 2rem;
}

.dashboard-icon {
  height: 3.5rem;
  width: 3.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.menu-options {
  display: inline-flex;
  height: 3rem;
  justify-items: start;
  align-items: center;
  padding-left: 0.5rem;
}

.search-field {
  width: 60%;
  background-color: rgba(169, 169, 169, 0.8);
}

.search-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.profile-image {
  height: 2.5rem;
  width: 2.5rem;
}

.main-profile-image {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

#strip {
  background-color: var(--palette-light-peach);
}

.card-main-section {
  display: grid;
  padding: 0.5rem;
  background-color: whitesmoke;
}

.card-main-section-content {
  text-align: justify;
}

.card-main-section-buttons {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 0.5rem;
}

.trending-image {
  height: 3.5rem;
  width: 3.5rem;
  padding-left: 1rem;
  padding-right: 0.75rem;
}

.search-field {
  border-radius: 10px;
  border-style: none;
  border: 0;
  padding: 0.5rem;
  width: 80%;
  height: 0.8rem;
}

.menu-container h1 {
  color: white;
}

.menu-options h2 {
  color: white;
}
