html,
body,
h1,
h2,
h3,
div,
img,
p {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

.main-container {
  display: grid;
  grid-template-rows: 2fr 15fr 1fr;
  height: 100%;
  background-color: rgba(169, 169, 169, 0.472);
}

.top-container {
  display: inline-flex;
  padding-left: 2rem;
  align-items: center;
  background-color: #74d3ae;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-right: 1.5rem;
}

.title {
  font-size: 3rem;
  font-family: "Comic Sans MS", cursive;
  color: #fff;
}

.middle-container {
  margin: 2rem;
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.heading-container {
  background-color: bisque;
}

.main-heading {
  font-size: 2.5rem;
  font-family: "Comic Sans MS", cursive;
  font-weight: lighter;
  color: black;
  padding-left: 1rem;
}

.game-container {
  padding-left: 2rem;
  background-color: blanchedalmond;
  padding: 2rem;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
}

.game-cell {
  padding: 1rem;
}

.right-border {
  border-right-width: 10px;
  border-right-style: solid;
}

.bottom-border {
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

.info-container {
  display: grid;
  grid-template-rows: 1fr 10fr;
  padding: 1rem;
  background-color: #74d3ae;
  border-radius: 10px;
}

.info-heading {
  padding-left: 1rem;
}

.content-container {
  border-radius: 10px;
  padding: 0.5rem;
  text-align: justify;
  font-size: 1.7rem;
}

.bottom-container {
  display: inline-flex;
  align-items: center;
  padding-left: 2rem;
  background-color: burlywood;
}

.game-cell-img {
  height: 6rem;
  width: 6rem;
  margin-left: 1rem;
}
